img {
    border-radius: 100%;
}
#projects {
    height: 10cm;
    flex-wrap: nowrap;
}
.project {
     width: 15cm;
     height: 6cm;
     border-radius: 10%;
     margin-left: 3cm;
}
h4 {
    text-align: center;
    color: blue;
}
.row {
    height: 10cm;
}